.principle h2::before {
	content:"Principle ";
}

.guideline h3::before {
	content:"Guideline ";
}

.sc h4::before {
	content:"Success Criterion ";
}

.conformance-level {
	display:inline;
}

.conformance-level::before {
	content:"(Level ";
}

.conformance-level::after {
	content:")";
}

.change {
	display:inline;
}

.change::before {
	content:"[";
}

.change::after {
	content:"]";
}
section.new, section.proposed {
    padding: 1em;
    margin-top: 1em;
}
section.new {
    border: thick solid green;    
}
section.proposed {
    border: thick solid orange;
}